* {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: $header-height 0 0 0;
    font-family: $body-font;
    font-size: var(--normal-fs);
    background-color: var(--body-clr);
    color: var(--text-clr);
    line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: var(--h1-fs);
}